body{
    background-color: #3181db;

}

#content{
    width: 95%;
    margin: auto;
    font-family: 'Oswald', sans-serif;
}

.em2-font{
    font-size: 2em;
 }
.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    width:100%;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
}
#top-bar{
/*    width:100%;

    display: flex;
    justify-content: space-between;*/
    background-color: #3181db;
    padding: 1em;
}

.top-bar-search-wrapper{
    display: flex;
    align-items: center;
    background: white;
    padding: 0.5em;
    border-radius: 0.3em;

}
.top-bar-search-box{
    border:none;
    width: 13em;
}

.top-bar-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
    padding:.5em;
    width: 100%;
    margin-left: 1em;
    border-radius: .5em;

    justify-content: space-evenly;
}

.top-bar-link:after{
    display: block;
    content: '';
    position: absolute;
    background-color: #75a3d7;
    height: 100%;
    width: 2px;
    margin-left: 10em;
;
}

.top-bar-last-link:after{
    display: none;
}
.top-bar-link:hover{
    background-color: #75a3d7;
    cursor: pointer;
}
.ltblue-link{
    color: #5fd9ff;
}

.pinkish{
    color:#ff2a79;
}

#cart-item-count{
    font-size: 10px;
    position: absolute;
    background: white;
    border-radius: 4em;
    padding: 5px;
    color: #ff2a79;
    top: -4px;
    right: 56px;
}

#navbar-wrapper{
    background-color:#000b3e;
    color:white;
    padding:1em;
    display: flex;
    justify-content: center;

}

.shop-all-btn{
    display: flex;
    background: #ff2a79;
    width: 5em;
    padding: .75em;
    justify-content: center;
    border-radius: 5px;
    color: white;
}



.shop-all-btn:hover{
    background-color: #0080e2;
}

.shop-now-btn{
    display: flex;
    background: #ff2a79;
    padding: .80em;
    justify-content: center;
    border-radius: 5px;
    color: white;
    width: 115px;
}

.shop-now-btn:hover{
    background-color: #0080e2;
}

#promo{
    background: white;
    padding: .25em;

}

#header-wrapper {
    /*display: flex;
    justify-content: space-between;
*/
}
#header-wrapper  .logo {
    display: block;
    position: absolute;
    width: 14em;
}

#top-bar-info{
    display: flex;
    justify-content: space-around;
    width: 40%;
    align-content: last baseline;
    position: relative;
    left: 60%;
}



#navbar{
    display: flex;
    width: 60%;
    justify-content: space-around;
    align-items: center;
}

#navbar a{
    color:white;
    text-decoration: none;
}
#navbar a:hover{
    color:#5fd9ff;
    text-decoration: underline;
    cursor: pointer;
}
#promo{
    display: flex;
    justify-content: center;
}

#hero-wrapper{
    /*height: 989px;*/
    background-color:white;
}
#reef-hero-bg{
    width: 100%;
}

#hero-cta{
    position: absolute;
    left: 20%;
    top: 15em;
}


.coral-size{
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    color:white;
    height: 100%;
    align-self: baseline;
}

.carousel-header{
    display: flex;
    justify-content: space-between;
    background-color:#000b3e;
    color: white;
    padding-top: 1em;
    padding-bottom: 1em;
}
.carousel-title-wrapper{
    display: flex;
    align-items: center;
    font-size:2em;
    margin-left: 2em;
}

.carousel-title-wrapper .shop-all-btn{
    margin-left: 1em;
    font-size:20px;

}

.carousel-nav-btn{
    display: inline-block;
    background-color: #0080e2;
    border-radius: 2em;
    padding: 1em;
}

.carousel-content{
    display: flex;
    justify-content: space-around;
    background-color: white;
}

.carousel-item{
    width: 15em;
    height: 20em;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

/*.carousel-item:after{
    display: block;
    content: '';
    position: absolute;
    background-color: lightgray;
    height: 40%;
    width: 2px;
    margin-left: 19em;
;
}*/
.top-bar-item:after:nth-of-type(4){
    display:none;
}

.carousel-item-image{
    width: 100%;
    display: flex;
    height: 60%;
    justify-content: center;
}

.carousel-item-image img{
    max-width:100%;
}

.shop-highlight-wrapper{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    height: 300px
}

.shop-highlight-item{
    height: 100%;
    width: 34%;
    display:flex;
}

.shop-highlight-content{
    align-self: flex-end;
    margin: 1em;
}

.shop-highlight-text{
    color:white;
    font-size: 45px;
    padding-bottom: .3em;
}
#shop-aquariums{
    background-image: url("../img/aquariums.png");
}
#shop-live-rock{
    background-image: url("../img/live-rock.png");
}
#shop-plants{
    background-image: url("../img/plants.png");
}
#coral-video-wrapper{
    height: 19em;
    overflow: hidden;
}

#coral-video{
    width: 100%;
    top: -8em;
    position: relative;
}

#coral-size-wrapper{
    width: 99%;
    height: 19em;
    z-index: 2;

}

#coral-size-flex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

#footer{
    background-color: #3181db;
    display: flex;
    justify-content: center;
}

#footer-content{
    display: flex;
    position: relative;
    justify-content: center;
}

.footer-link-list{
    width:15em;
}

.footer-list-item{
    color: white;
    margin: 1em;
}

.footer-list-header{
    color: #5fd9ff;

}

.footer-list-info-item{
    margin-top: unset;
    margin-bottom: unset;
}
.small-text{
    font-size: 10px;
    color:white;
    margin: 7px;
}

#footer-bottom{
    display: flex;

    width: 73%;

    justify-content: space-around;

    align-items: center;

    justify-items: initial;

    margin: auto;

    padding: 1em;

    font-size: 12px;

    color: white;
}

.footer-logo{
 width:100%;
}

#footer-spacer{
    display: block;
    width: 100%;
    height: 20px;
    background-color: #000b3e;
}